@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="GET" asp-page="/Customers/CustomerDetails">
    <input name="customerId" placeholder="Enter Customer Id" value=""/>
    <input type="submit" value="Search" />
    @if (TempData["Errormessage"] != null)
    {
        <div class="card card-body bg-warning text-white5">@TempData["Errormessage"]</div>
    }
</form>

<h2>Total Customers: @Model.TotalCustomers</h2>
<h2>Total Accounts: @Model.TotalAccounts</h2>
<h2>Total $: @Model.TotalBalance</h2>

<h3>Swedish Customers: @Model.SwedishCustomers</h3>
<h3>Finnish Customers: @Model.FinnishCustomers</h3>
<h3>Norweigian Customers: @Model.NorweigianCustomers</h3>

<h3>Swedish Accounts: @Model.SwedishAccounts</h3>
<h3>Finnish Accounts: @Model.FinnishAccounts</h3>
<h3>Norweigian Accounts: @Model.NorweigianAccounts</h3>

<h3>Swedish Balance: @Model.SwedishBalance</h3>
<h3>Finnish Balance: @Model.FinnishBalance</h3>
<h3>Norweigian Balance: @Model.NorweigianBalance</h3>



