@page
@model BankStartWeb.Pages.Customers.NewModel
@{
}

<section class="contact-us section bg-gray" id="contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    <h4>Operation</h4>
                    <h2>Create New Customer</h2>
                    <span class="border"></span>
                    <p>Fill the following form to create a new customer.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Contact Form -->
            <div class="contact-form col-12 col-md-6  mx-auto" >
                <form id="contact-form" method="post"  role="form">
					
                    <div class="form-group">
                        <label asp-for="Givenname">Name</label>
                        <input class="form-control" asp-for="Givenname">
                        <span asp-validation-for="Givenname" class="field-validation-error"></span>
                    </div>
						
                    <div class="form-group">
                        <label asp-for="Surname">Surname</label>
                        <input class="form-control" asp-for="Surname">
                        <span asp-validation-for="Surname" class="field-validation-error"></span>
                    </div>
						
                    <div class="form-group">
                        <label asp-for="Streetaddress">Streetaddress</label>
                        <input class="form-control" asp-for="Streetaddress">
                        <span asp-validation-for="Streetaddress" class="field-validation-error"></span>
                    </div>
						
                    <div class="form-group">
                        <label asp-for="City">City</label>
                        <input class="form-control" asp-for="City">
                        <span asp-validation-for="City" class="field-validation-error"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="Zipcode">Zipcode</label>
                        <input class="form-control" asp-for="Zipcode">
                        <span asp-validation-for="Zipcode" class="field-validation-error"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="CountryId">Country</label>
                        <select class="form-control" asp-for="CountryId" asp-items="@Model.AllCountries" >
                        </select>
                        <span asp-validation-for="CountryId" class="field-validation-error"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CountryCodeId">Country Id</label>
                        <select class="form-control" asp-for="CountryCodeId" asp-items="@Model.AllCountryCodes" >
                        </select>
                        <span asp-validation-for="CountryCodeId" class="field-validation-error"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NationalId">National Id</label>
                        <input class="form-control" asp-for="NationalId">
                        <span asp-validation-for="NationalId" class="field-validation-error"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TelCodeId">Tel Country Code</label>
                        <select class="form-control" asp-for="TelCodeId" asp-items="@Model.AllTelCodes" >
                        </select>
                        <span asp-validation-for="TelCodeId" class="field-validation-error"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telephone">Telephone</label>
                        <input class="form-control" asp-for="Telephone">
                        <span asp-validation-for="Telephone" class="field-validation-error"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmailAddress">Email</label>
                        <input class="form-control" asp-for="EmailAddress" >
                        <span asp-validation-for="EmailAddress" class="field-validation-error"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Birthday">Birthday</label>
                        <input class="form-control" asp-for="Birthday" >
                        <span asp-validation-for="Birthday" class="field-validation-error"></span>
                    </div>

                    <div id="cf-submit">
                        <input type="submit" id="contact-submit" class="btn btn-transparent mb-1" value="Create Customer">
                    </div>						
						
                </form>
                <a class="btn" id="contact-submit"  asp-page="/CustomerList" >Back to List</a>
            </div>
            <!-- ./End Contact Form -->
        </div> <!-- end row -->

    </div>
</section>

@*<div class="card">
    <div class="card-header">
        <h1>New Customer</h1>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <label asp-for="Givenname">Name</label>
                <input class="form-control" asp-for="Givenname">
                <span asp-validation-for="Givenname" class="field-validation-error"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Surname">Surname</label>
                <input class="form-control" asp-for="Surname">
                <span asp-validation-for="Surname" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="Streetaddress">Streetaddress</label>
                <input class="form-control" asp-for="Streetaddress">
                <span asp-validation-for="Streetaddress" class="field-validation-error"></span>
            </div>
            <div class="form-group">
                <label asp-for="City">City</label>
                <input class="form-control" asp-for="City">
                <span asp-validation-for="City" class="field-validation-error"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zipcode">Zipcode</label>
                <input class="form-control" asp-for="Zipcode">
                <span asp-validation-for="Zipcode" class="field-validation-error"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="CountryId">Country</label>
                <select class="form-control" asp-for="CountryId" asp-items="@Model.AllCountries" >
                </select>
                <span asp-validation-for="CountryId" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="CountryCodeId">Country Id</label>
                <select class="form-control" asp-for="CountryCodeId" asp-items="@Model.AllCountryCodes" >
                </select>
                <span asp-validation-for="CountryCodeId" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="NationalId">National Id</label>
                <input class="form-control" asp-for="NationalId">
                <span asp-validation-for="NationalId" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="TelCodeId">Tel Country Code</label>
                <select class="form-control" asp-for="TelCodeId" asp-items="@Model.AllTelCodes" >
                </select>
                <span asp-validation-for="TelCodeId" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="Telephone">Telephone</label>
                <input class="form-control" asp-for="Telephone">
                <span asp-validation-for="Telephone" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="EmailAddress">Email</label>
                <input class="form-control" asp-for="EmailAddress" >
                <span asp-validation-for="EmailAddress" class="field-validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="Birthday">Birthday</label>
                <input class="form-control" asp-for="Birthday" >
                <span asp-validation-for="Birthday" class="field-validation-error"></span>
            </div>

            <button type="submit" class="btn">Save</button>
        </form>

    </div>
</div>*@