@page
@model BankStartWeb.Pages.Transactions.DepositModel
@{
}


<section class="contact-us section bg-gray" id="contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    <h4>Operation</h4>
                    <h2>Make Deposit</h2>
                    <span class="border"></span>
                    <h5 class="text-info">@Model.Fullname</h5>
                    <h5 class="text-info">@Model.AccountType Account</h5>
                    <h5 class="text-info">@Model.Balance $</h5>
                    <span class="border"></span>
                    <p class="my-2">Enter the amount to deposit on this account in the input field below</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="contact-form col-12 col-md-6  mx-auto" >
                <form id="contact-form" method="post">
                    <div class="form-group">
                        <input asp-for="Amount" class="form-control">
                        <span asp-validation-for="Amount" class="field-validation-error"></span>
                    </div>
                    <div>
                        <input type="submit" id="contact-submit" class="btn btn-transparent mb-1" value="Make Deposit">

                    </div>						
                </form>
                <a class="btn" id="contact-submit"  asp-page="/Accounts/AccountDetails" asp-route-accountid="@Model.Id">Back to @Model.AccountType Account</a>
            </div>
        </div>
    </div> 
</section> 