@page
@model BankStartWeb.Pages.Accounts.AccountDetailsModel
@{
}
<h1>@Model.CustomerName</h1>
<h2>@Model.AccountType Account</h2>

<a asp-page="/Transactions/Deposit" asp-route-accountid="@Model.Id">Deposit</a>
<a asp-page="/Accounts/Withdrawl" asp-route-accountid="@Model.Id">Withdrawl</a>
<a asp-page="/Accounts/Payment" asp-route-accountid="@Model.Id">Payment</a>
<a asp-page="/Accounts/Salary" asp-route-accountid="@Model.Id">Salary</a>
<a asp-page="/Accounts/Transfer" asp-route-accountid="@Model.Id">Transfer</a>

@*<div class="form-group">
                <label asp-for="OperationId">Select Transfer Operation</label>
                <select class="form-control" asp-for="OperationId" asp-items="@Model.AllTransactionOps" >
                </select>
                <span asp-validation-for="OperationId" class="field-validation-error"></span>
            </div>*@



<table class="table">
    <tr>
        <th>Account Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Account Type</th>
        <td>@Model.AccountType</td>
    </tr>
    <tr>
        <th>Date Created</th>
        <td>@Model.Created</td>
    </tr>
        <tr>
        <th>Balance</th>
        <td>@Model.Balance</td>
    </tr>
</table>

    <table class="table" id="posts-table">
        <thead>
            <tr>
                <th>Transaction</th>
                <th>Operation</th>
                <th>Created</th>
                <th>Amount</th>
                <th>New Balance</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
@*    @foreach (var transaction in Model.Transactions)
    {
        <tr>
            <td>@transaction.Id</td>
            <td>@transaction.Type</td>
            <td>@transaction.Operation</td>
            <td>@transaction.Date</td>
            <td>@transaction.Amount</td>
            <td>@transaction.NewBalance</td>
        </tr>
    }*@

    </table>
    <a class="btn" href="javascript:fetchMore();">See more</a>
    <a asp-page="/Customers/CustomerDetails" asp-route-customerid="@Model.CustomerId">Back</a>

@section Scripts
{
<script>
    pageNo = 1;
    function fetchMore() {
        fetch("AccountDetails?handler=FetchMore&pageNo=" + pageNo + "&accountid=@Model.Id")
            .then((response) => response.json())
            .then((json) => {
                    pageNo = pageNo + 1;
                    json.items.forEach(tableElements);
                }
            );
    }


    function tableElements(element) {
        document.querySelector('#posts-table tbody').innerHTML +=
            `<tr>
    <td>${element.type}</td>
    <td>${element.operation}</td>
    <td>${element.date}</td>
    <td>${element.amount}</td>
    <td>${element.newBalance}</td>
    
    </tr>`;
    }

    
    document.addEventListener("DOMContentLoaded", function () {
        fetchMore();
    });

</script>    
}
